{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}
<div class="container-fluid">
{% for message in get_flashed_messages() %}
<div class="alert alert-danger">
    <div class="flash">{{ message }}</div>
    </div>
{% endfor %}
<form method="post">
    {% autoescape false %}
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    {% endautoescape %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="state">State</label>
        <input type="text" class="form-control" name="state" id="state" placeholder="State" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="zip">Zip</label>
        <input type="number" class="form-control" name="zip" id="zip" placeholder="Zip" min="1" max="99999" required>
      </div>
    </div>
    <button class="btn btn-outline-dark" type="submit">Register</button>
  </form>
  <div style="padding-top: 10px">
        Already have an account? <a href="{{ url_for('auth.login') }}" class="navbar-item"><u>Login Here</u></a>
  </div>
</div>
    

{% endblock %}