{% extends "layout.html" %}
{% block title %}
Rate six
{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        $( function() {
            $( "#sortable" ).sortable({
                stop: function(event, ui) {
                    var elements = document.querySelectorAll(".h1");
                    
                    index = 1;

                    Array.from(elements).forEach(function(element){
                        element.textContent = index;
                        index += 1;
                    });
                },
            });
        } );
    </script>

    <script>
            $(function() {
                $( "#submit-button" ).click(function() {
                    var elements = document.querySelectorAll("#images");
                    var rating_input = document.getElementById("ratings");
    
                    rating_input.value = ""
                    
                    Array.from(elements).forEach(function(element) {
                        var rating = element.getAttribute("data-index");
    
                        rating_input.value += " " + rating;
    
                    });
                    
                });
            });
        </script>
{% endblock %}
{% block content %}

<div id="heighterino">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <div class="flash">{{ message }}</div>
        </div>
    {% endfor %}  
    <form method="POST">
        <input type="hidden" id="type" name="type">
        {% autoescape false %}
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        {% endautoescape %}
                <h1 style="padding-left:20px;">Rate the cats</h1>
                <input type="hidden" id="ratings" name="ratings">
                <ul id="sortable">
                        {% for image in images %}
                            <li id="images" data-index="{{image['image_id']}}" class="ui-state-default">
                                <div class="thumbnail">
                                    <img src="{{ url_for('static', filename=image['image_url'])}}" class="mx-auto d-block">
                                    <div class="caption">
                                        <p class="h1">{{loop.index}}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                </ul>
            <div>
                <button id="submit-button" class="btn btn-outline-dark btn-lg" type="submit">Next</button>
            </div>


    </form>
                                    
</div>
{% endblock %}