{% extends "layout.html" %}
{% block title %}
Rate two
{% endblock %}
{% block head %}
    {{ super() }}

    <script>
        $(function() {
            $( "#submit-button2, #submit-button22" ).click(function() {
                var elements = document.querySelectorAll("#images");
                var rating_input = document.getElementById("ratings");
                var better_image = this;

                image_id = better_image.children[0].getAttribute("data-index");

                rating_input.value = "";

                rating_input.value += image_id;

                Array.from(elements).forEach(function(element) {
                    var rating = element.getAttribute("data-index");

                    if (rating != image_id) {
                        rating_input.value += " " + rating;
                    }

                });  
            });
        });
    </script>
        
{% endblock %}
{% block content %}

<div id="heighterino">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <div class="flash">{{ message }}</div>
        </div>
    {% endfor %}  

    <form method="POST">
        <h1 style="padding-left:20px;">Select the cuter cat</h1>
        <input type="hidden" id="ratings" name="ratings">
        {% autoescape false %}
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        {% endautoescape %}
        <ul id="sortable2">
                {% for image in images %}
                {% if loop.index == 1 %}
                <button id="submit-button2" class="btn btn-default" type="submit">
                {% elif loop.index == 2  %}
                <button id="submit-button22" class="btn btn-default" type="submit">
                {% endif %}
                {% if loop.index == 1 or loop.index == 2 %}
                    <li id="images" data-index="{{image['image_id']}}" class="ui-state-default">
                        <div class="thumbnail">
                            <img src="{{ url_for('static', filename=image['image_url'])}}" class="mx-auto d-block">
                        </div>
                    </li>
                </button>
                {% endif %}
                {% endfor %}
        </ul>
    </form>


</div>


{% endblock %}